@model Sitecore.Mvc.Presentation.RenderingModel

<!DOCTYPE html>
<html>
    <head>
        <title>@Model.Item["Title"]</title>    
    </head>
    <body>
        <h1>@Model.Item["Title"]</h1>
        <p>@Model.Item["Text"]</p>
    </body>
</html>